* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #424242;
}

.topHeader {
  display: flex;
  justify-content: space-between;
}

.customSignLinks {
  text-decoration: none;
  color: rgb(224, 19, 19);
}

#signUpLink {
  color: greenyellow;
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbarLinks {
  text-decoration: none;
  color: black;
}
